#game {
  width: 100%;
  height: 80%;
}

#gameCanvas {
  display: block; /* Remove default margin */
  margin: auto; /* Center in the available space */
  height: 100%; /* Limit the height to be within the modal */
  width: 90%; /* Limit the width to be within the modal */
}
