@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  font-weight: bolder;
  text-transform: uppercase;
}

p {
  text-transform: none;
  font-weight: 400;
}
.content {
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 30);
  overflow: scroll;
}

header {
  margin: 0;
  width: 100%;
  height: 55px;
  background-color: rgb(30, 30, 30);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  height: 3px;
  background-color: rgba(247, 193, 217, 1);
  width: 100%;
  box-shadow: 0px, 0px, 1px rgb(0, 0, 0);
}

.nav {
  margin-left: auto;
  display: inline-flex;
  text-decoration: none;
  list-style: none;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .burger_menu {
    display: inline-block !important;
  }
}

.nav a {
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  text-decoration: none;
  color: whitesmoke;
}

.title {
  display: inline-flex;
  padding-left: 30px;
  align-items: center;
}

.logo {
  width: 35px;
  height: 35px;
}

.profile {
  display: inline-flex;
  gap: 30px;
  padding-right: 30px;
}

.back_img {
  position: relative;
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-image: url("../img/Store_image.avif");
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(19, 19, 19, 0.65) 75%, rgb(30, 30, 30) 100%);
}

.intro {
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
}

.explore {
  text-align: center;
  width: 100%;
  height: 30%;
}

@media only screen and (max-height: 870px) {
  .explore {
    padding-bottom: 5vh;
  }
}

@media only screen and (max-height: 710px) {
  .explore {
    padding-bottom: 10vh;
  }
}

button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  background-color: rgba(247, 193, 217, 1);
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.explore_cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  overflow: visible;
}

.card:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.card {
  position: relative;
  width: 375px;
  height: 500px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  top: -200px;
}

.card p {
  position: relative;
  margin: 40px;
  font-size: 0;
  z-index: 1;
}

.card h1 {
  position: relative;
  font-size: 35px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.card:hover p {
  font-size: 16px;
  transition: ease-in 400ms;
}

.card:hover h1 {
  transform: translateY(130px);
  transition: ease-in 100ms;
}

.card:hover {
  transform: scale(1.03);
  transition: 300ms;
}

.footer {
  height: 130px;
  margin: 0;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(247, 193, 217, 1);
}

.social a img {
  width: 30px;
  height: 30px;
  margin: 30px;
}

.burger_menu {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 6px 0;
  margin-right: 30px;
  transition: 0.4s;
  border-radius: 5px;
}

.change .burger_menu .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .burger_menu .bar2 {
  opacity: 0;
}

.change .burger_menu .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.change .nav_group .nav {
  display: flex;
  flex-direction: column;
}

.change .nav_group .nav a {
  color: rgb(30, 30, 30);
}

.change .nav_group {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: -15px;
  background-color: rgba(247, 193, 217, 1);
  padding-bottom: 100vh;
  padding-right: 30vw;
  transform: translateY(-12px);
}
