<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joe & The Juice</title>
    <link rel="icon" href="../img/small_logo.svg" />
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body style="background-color: rgba(247, 193, 217, 1); text-align: center">
    <div style="color: black; margin-top: 100px; text-align: center">
      <h1>Sign In</h1>
      <form
        action="/auth/login"
        method="POST"
        style="display: inline-block; text-align: center; margin: 0 auto"
      >
        <div style="display: flex; flex-direction: column; align-items: flex-start">
          <label for="username" style="margin-bottom: 10px">Username</label>
          <input
            type="username"
            name="username"
            id="username"
            required
            style="
              margin-bottom: 20px;
              padding: 10px;
              width: 300px;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            "
          />
          <label for="email" style="margin-bottom: 10px">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            style="
              margin-bottom: 20px;
              padding: 10px;
              width: 300px;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            "
          />
          <label for="phone" style="margin-bottom: 10px">Phone</label>
          <input
            type="phone"
            name="phone"
            id="phone"
            required
            style="
              margin-bottom: 20px;
              padding: 10px;
              width: 300px;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            "
          />
          <label for="password" style="margin-bottom: 10px">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            style="
              margin-bottom: 20px;
              padding: 10px;
              width: 300px;
              border-radius: 5px;
              border: none;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            "
          />
        </div>
        <button
          type="submit"
          style="
            background-color: rgba(255, 255, 255, 1);
            color: black;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
          "
        >
          Sign Up
        </button>
        <p>
          Har du allerede en konto?
          <a href="/auth/signup" style="color: black; margin-top: 20px; display: inline-block"
            >Sign In</a
          >
        </p>
      </form>
    </div>
    <img
      src="../img/small_logo.svg"
      alt="Joe & The Juice Logo"
      style="width: 200px; height: auto; margin-top: 50px"
    />
  </body>
</html>
