<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joe & The Juice</title>
    <link rel="icon" href="../img/small_logo.svg" />
    <link rel="stylesheet" href="../style/login.css" />
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <div class="signin_container">
      <h1>Bekræft dit telefonnummer</h1>
      <form id="login_form">
        <p>Indtast den kode du har fået på sms</p>
        <div class="form-group">
          <input type="text" id="SMS_password" required />
        </div>
        <button type="submit">Udfør</button>
      </form>
    </div>
    <img src="../img/small_logo.svg" alt="Joe & The Juice Logo" class="logo" />
    <script src="../js/user.js"></script>
  </body>
</html>
