<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joe & The Juice</title>
    <link rel="icon" href="../img/small_logo.svg" />
    <link rel="stylesheet" href="../style/index.css" />
  </head>
  <body>
    <header>
      <div class="title" onclick="myFunction(this)">
        <div class="burger_menu_expanded"></div>
        <div class="burger_menu">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <img src="../img/small_logo.svg" alt="small_logo" class="logo" />

        <div class="nav_group">
          <div class="nav">
            <a href="https://www.joejuice.com/" target="_blank">Funktion 1</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 2</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 3</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 4</a>
          </div>
        </div>
      </div>
      <div class="profile">
        <div class="sign_in">Sign In</div>
        <div class="sign_up">Sign Up</div>
      </div>
    </header>
    <div class="spacer"></div>
    <div class="content">
      <div class="back_img">
        <div class="front"></div>
        <div class="intro">
          <h1 style="font-size: 40px; margin-bottom: 5px">Juice Joe</h1>
          <p style="margin-bottom: 40px">Kan du få bedre juice? Det tror jeg ik!</p>
          <button>Try Now!</button>
        </div>
      </div>
      <div class="explore">
        <h1 style="font-size: 40px">Explore</h1>
      </div>
      <div class="explore_cards">
        <div class="card" style="background-image: url('../img/avocado.avif')">
          <h1 style="top: -130px">Titel</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aliquam assumenda
            ut autem magnam iure, pariatur aperiam sunt numquam animi placeat odit, adipisci ab
            facilis nobis neque nostrum porro suscipit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Repudiandae, aliquam assumenda ut autem magnam iure, pariatur aperiam
            sunt numquam animi placeat odit, adipisci ab facilis nobis neque nostrum porro suscipit.
          </p>
        </div>
        <div class="card" style="background-image: url('../img/Power_Shake.avif')">
          <h1 style="top: -130px">Titel</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aliquam assumenda
            ut autem magnam iure, pariatur aperiam sunt numquam animi placeat odit, adipisci ab
            facilis nobis neque nostrum porro suscipit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Repudiandae, aliquam assumenda ut autem magnam iure, pariatur aperiam
            sunt numquam animi placeat odit, adipisci ab facilis nobis neque nostrum porro suscipit.
          </p>
        </div>
        <p style="margin: 0 30% 0 30%; text-align: center; top: -200px; position: relative">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aliquam assumenda ut
          autem magnam iure, pariatur aperiam sunt numquam animi placeat odit, adipisci ab facilis
          nobis neque nostrum porro suscipit.
        </p>
        <div class="social">
          <a href="https://www.instagram.com/joeandthejuice" target="_blank"
            ><img src="../img/instagram.png" alt="social" /></a
          ><a href="https://www.facebook.com/joeandthejuice" target="_blank"
            ><img src="../img/facebook.png" alt="social" /></a
          ><a href="https://www.linkedin.com/company/joe-&-the-juice-uk" target="_blank"
            ><img src="../img/linkedin.png" alt="social"
          /></a>
        </div>
      </div>

      <div class="footer">
        <img
          src="../img/small_logo.svg"
          alt="small_logo"
          class="logo"
          style="position: relative; margin-top: 25px; scale: 1.3"
        />
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
