<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joe & The Juice</title>
    <link rel="icon" href="../img/small_logo.svg" />
    <link rel="stylesheet" href="../style/index.css" />
    <link rel="stylesheet" href="../style/game.css" />
  </head>
  <body>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h1>1v1 Minigame</h1>
        <button id="join-game">Join Room</button>
        <div id="game-messages"></div>
        <div id="game">
          <!-- Your game UI and interaction elements go here -->
          <canvas id="gameCanvas"></canvas>
        </div>
      </div>
    </div>
    <div id="confirmationOverlay" class="overlay">
      <div id="logoutConfirmationForm" class="confirmation-form">
        <span id="closeButton" style="float: right; cursor: pointer">✕</span>
        <p>Are you sure you want to log out?</p>
        <button
          id="confirmLogoutButton"
          type="button"
          style="background-color: rgb(30, 30, 30); color: whitesmoke"
        >
          Confirm Log Out
        </button>
      </div>
    </div>
    <header>
      <div class="title" onclick="myFunction(this)">
        <div class="burger_menu_expanded"></div>
        <div class="burger_menu">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <img src="../img/small_logo.svg" alt="small_logo" class="logo" />

        <div class="nav_group">
          <div class="nav">
            <a href="https://www.joejuice.com/" target="_blank">Funktion 1</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 2</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 3</a>
            <a href="https://www.joejuice.com/" target="_blank">Funktion 4</a>
          </div>
        </div>
      </div>
      <div class="profile">
        <div id="sign_out">Logout</div>
        <div id="delete_user">Delete profile</div>
      </div>
    </header>
    <div class="spacer"></div>
    <div class="content">
      <div class="back_img">
        <div class="front"></div>
        <div class="intro">
          <h1 style="font-size: 40px; margin-bottom: 5px">Juice Joe</h1>
          <p style="margin-bottom: 40px">
            Om du til powershake eller tunacado, vi har lige noget til dig!
          </p>
          <button id="gameBtn">Try Now!</button>
        </div>
      </div>
      <div class="explore">
        <h1 style="font-size: 40px">Explore</h1>
      </div>
      <div class="explore_cards">
        <div class="card" style="background-image: url('../img/avocado.avif')">
          <h1 style="top: -130px">Noget at spise</h1>
          <p>
            Hos Joe er juice essentielt for os, her har vi en bred variation af forskellige aromaer
            og smagsfinurligheder. Det er en drøm at smage en Juicey Avodaco, som vores store juicer
            Niels har most til os. Kunne du tænke dig en gastronomisk oplevelse? så tag et kig forbi
            JOE. Vi har alt fra shakers, sandwiches, kaffe og vores eget konditori med frisk brød
            hver morgen. Vi du ønsker et frisk pust om morgen og en dejlig start på dagen, er din
            lokale juicer altid klar til dig.
          </p>
        </div>
        <div class="card" style="background-image: url('../img/Power_Shake.avif')">
          <h1 style="top: -130px">Noget at drikke</h1>
          <p>
            Har du lyst til noget at sluge? Så slug lige et shaker hos Joe, hvis du har ekstra god
            tid, så sluger du også lige vores juicer Niels bag disken. Hos Joe har vi noget at
            drikke i alle slags temperatuerer, har du lyst til en varm kaffe med friske bønner fra
            den sydafrikanske safari? eller frister en iskøllig powershake med arktiske isterining
            direkte fra nordpolen. Lyder det her for godt til at være sandt? Tja det er det nok, vi
            har det gådt og du kan have det mangen Gådt med os.
          </p>
        </div>
        <p style="margin: 0 30% 0 30%; text-align: center; top: -200px; position: relative">
          Har du allergier eller føler dig utilpas, så spørg vores biolog og it-supporter Niels bag
          disken. Der er ikke noget den mand ikke har en mening eller viden om.
        </p>
        <div class="social">
          <a href="https://www.instagram.com/joeandthejuice" target="_blank"
            ><img src="../img/instagram.png" alt="social" /></a
          ><a href="https://www.facebook.com/joeandthejuice" target="_blank"
            ><img src="../img/facebook.png" alt="social" /></a
          ><a href="https://www.linkedin.com/company/joe-&-the-juice-uk" target="_blank"
            ><img src="../img/linkedin.png" alt="social"
          /></a>
        </div>
      </div>

      <div class="footer">
        <img
          src="../img/small_logo.svg"
          alt="small_logo"
          class="logo"
          style="position: relative; margin-top: 25px; scale: 1.3"
        />
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/game.js"></script>
  </body>
</html>
